/* ----------------------------------------------------- */
/* header                                               */
/* ----------------------------------------------------- */

.header {
	align-self: center;
}

.header h1 {
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	color: #0c5284;;
    font-size: 4rem;
}

.header h1 span {
	font-weight: bolder;
}


