/* ----------------------------------------------------- */
/* general                                               */
/* ----------------------------------------------------- */

body {
	font-family: 'Open Sans', sans-serif;
	background: #eaeff3;
}

h2 {
	font-family: 'Noto Sans JP', sans-serif;
}

button {
    border-color: unset;
}
.btn.yellow-btn {
	color: black;
	background-color: #ffcc00;
	border: unset;
}

.error-message, .message {
	background-color: #f2d253;
	color: black;
}

.redux-debugging-store {
	background-color: #cddc39;
	color: black;
}
.redux-debugging-action {
	background-color: #8bc34a;
	color: black;
}
.redux-debugging-store *, .redux-debugging-action * {
	color: black;
}

i {
	color: #3681dd;
}

.smaller {
	font-size: smaller;
}

.bolder {
	font-weight: bold;
}


/* ----------------------------------------------------- */
/* forms                                                 */
/* ----------------------------------------------------- */

form {
    text-align: center;
}
form .form-group {
	text-align: left;
}

form .form-group input {
	background-color: #95cdf6;
}

form .btn, .btn {
	color: white;
	background-color: #307cdd;
	border: unset;
}

form i {
	color: #0c5284;
}


/* ----------------------------------------------------- */
/* section                                        */
/* ----------------------------------------------------- */

.bright-section, .dark-section {
	text-align: center;
}

.bright-section h2, .dark-section h2,
.bright-section p, .dark-section p,
.bright-section div, .dark-section div,
.bright-section .form-group, .dark-section .form-group {
	text-align: left;
}

/* ----------------------------------------------------- */
/* bright-section                                        */
/* ----------------------------------------------------- */

.bright-section {
	background: #d9e6ef;
}

/* ----------------------------------------------------- */
/* middle-bright-section                                 */
/* ----------------------------------------------------- */

.middle-bright-section {
	background: #618aa8;
}

.middle-bright-section h2 {
	color: white;
}

/* ----------------------------------------------------- */
/* dark-section                                          */
/* ----------------------------------------------------- */

.dark-section  {
	background: #1074bc;
}

.dark-section h2, .dark-section p {
	color: white;
}

.dark-section input {
	background-color: #0c5284;
	color: white;
	border: unset;
}
.dark-section input::placeholder{
	color: white;
	opacity: 1;
}

.dark-section .btn {
	color: white;
	background-color: #44a2e7;
	border: unset;
}
